finnhub-python==2.4.19
pandas~=1.1.5
pip~=21.3.1
pytz~=2023.3.post1
numpy~=1.19.5
setuptools~=59.6.0
Django~=3.2.25
asgiref~=3.4.1
sqlparse~=0.4.4
requests~=2.27.1
python-dateutil~=2.8.2
certifi~=2023.11.17
six~=1.16.0
idna~=3.6
urllib3~=1.26.18
reportlab~=3.6.8
pillow~=8.4.0
matplotlib~=3.3.4
chardet~=5.0.0