<!DOCTYPE html>
<html>
<head>
    <title>Usuń Inwestycję</title>
</head>
<body>
    <h1>Usuń Inwestycję</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="nazwa">Nazwa inwestycji:</label>
        <input type="text" name="nazwa" required><br><br>
        <label for="ilosc">Ilość:</label>
        <input type="number" step="any" name="ilosc" required><br><br>
        <input type="submit" value="Usuń">
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </form>
</body>
</html>
