body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    width: 100%;
    padding: 8px;margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 15px;
}

button:hover {
    background-color: #45a049;
}


.login-message {
  color: #ff0000;
  font-weight: bold;
}

.messages {
  list-style: none;
  padding: 10px;
  margin: 0;
}

.messages li {
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
}
.error {
  background-color: #ffcccc;
  border: 1px solid #ff6666;
  color: #cc0000;
}

.success {
  background-color: #ccffcc;
  border: 1px solid #66cc66;
  color: #006600;
}

.warning {
  background-color: #ffe066;
  border: 1px solid #ffcc00;
  color: #996600;
}

.info {
  background-color: #cce5ff;
  border: 1px solid #66a3ff;
  color: #003366;
}

