{% extends 'investments/index.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Investment</h1>
<div>
    <form action="/add_investment" method="POST">
        {% csrf_token %}
        <label>
            <br> Name
            <input type="text" name="inv_name">
            <br> Symbol
            <input type="text" name="inv_symbol">
            <br> Amount
            <input type="number" name="inv_amount">
            <br> Purchase price
            <input type="number" name="inv_price">
            <br>
            <br> Type
            <input type="text" name="inv_type">
            <input type="submit" value="Submit" name="inv_submit">
        </label>
    </form>

</div>
{% else %}
    <br> You must be logged in

{% endif %}

{% endblock %}