{% extends 'investments/index.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>Add Investment</h1>
<div>
    <form action="" method="POST">
        {% csrf_token %}
        <label>
            <br> Name
            <input type="text" name="inv_name">
            <br> Amount
            <input type="number"  class="inv_amount">
            <br>
            <input type="submit" class="inv_submit">
        </label>
    </form>

</div>
{% else %}
    <br> You must be logged in

{% endif %}

{% endblock %}