<!DOCTYPE html>
<html>
<head>
    <title>My portfolio</title>
</head>
<body>
    <h1>Delete investment</h1>
    <form method="POST">
        {% csrf_token %}
        <label for="name">Nazwa inwestycji:</label>
        <input type="text" name="name" required><br><br>
        <label for="amount">Ilość:</label>
        <input type="number" step="any" name="amount" required><br><br>
        <input type="submit" value="Del">
        {% if error_message %}
            <p style=":color: red;">{{ error_message }}</p>
        {% endif %}
    </form>
</body>
</html>
