{% extends 'investments/navbar.html' %}

{% block content %}

{% if user.is_authenticated %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>
    <body>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <a{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</a>
        {% endfor %}
    </ul>
    {% endif %}
    </body>
    <div>
        <body>
            <p>Your portfolio evaluation</p>
            <a class="evaluation">{{ portfolio_evaluation|floatformat:2 }}$</a>
        </body>
    </div>
    <section>
         <div class="tradingview-widget-container">
             <div class="tradingview-widget-container__widget"></div>
             <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
             <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                  {
                  "width": "980",
                  "height": "610",
                  "symbol": "NASDAQ:AAPL",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "light",
                  "style": "1",
                  "locale": "en",
                  "enable_publishing": false,
                  "allow_symbol_change": true,
                  "support_host": "https://www.tradingview.com"
                }
            </script>
        </div>
    </section>



{% else %}
    <p>You are not authenticated</p>
{% endif %}


{% endblock %}