{% extends 'investments/navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
</head>

{% block content %}

{% if user.is_authenticated %}
    <h1>All my investments</h1>
<div>
<br>
<table>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Price bought</th>
        <th>Current price</th>
        <th>Date bought</th>
        <th>Profit</th>
        <th>Delete</th>
    </tr>
       <tr>
           <td>{{ investment.name }}</td>
           <td>{{ investment.symbol }}</td>
           <td>{{ investment.price_bought|floatformat:2 }}$</td>
           <td>{{ investment.get_current_price|floatformat:2 }}$</td>
           <td>{{ investment.date_bought }}</td>
           <td>{{ investment.profit|floatformat:2 }}$</td>
           <td> <a href="/del_investment?id={{ investment.id }}"> Delete investment </a> </td>
        </tr>
</table>
<br>
<div class="tradingview-widget-container">
             <div class="tradingview-widget-container__widget"></div>
             <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/" rel="noopener nofollow" target="_blank"><span class="blue-text">Track all markets on TradingView</span></a></div>
             <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-advanced-chart.js" async>
                  {
                  "width": "980",
                  "height": "610",
                  "symbol": "{{ investment.symbol }}",
                  "interval": "D",
                  "timezone": "Etc/UTC",
                  "theme": "light",
                  "style": "1",
                  "locale": "en",
                  "enable_publishing": false,
                  "allow_symbol_change": true,
                  "support_host": "https://www.tradingview.com"
                }
            </script>
</div>
</div>
{% else %}
    <br> You must be logged in

{% endif %}


{% endblock %}