{% extends 'investments/navbar.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>All assets</h1>
<div>
<form action="/insert_assets">
    <button id="btn_insert_assets" class="button">Refresh assets</button>
</form>
<br>
<form action="/delete_assets">
    <button id="btn_insert_assets" class="button">Delete all assets</button>
</form>
<table>
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Current Price</th>
    </tr>
    {% for asset in assets %}
        <tr>
            <td>{{ asset.name }}</td>
            <td>{{ asset.symbol }}</td>
            <td>{{ asset.current_price }}</td>
        </tr>
    {% endfor %}
</table>
</div>
{% else %}
    <br> You must be logged in

{% endif %}


{% endblock %}