{% extends 'investments/navbar.html' %}

{% block content %}

{% if user.is_authenticated %}
    <h1>All assets</h1>
<div>
<form action="/insert_assets">
    <button id="btn_insert_assets" class="button">Refresh assets</button>
</form>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names..">
<script>
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("asset_table");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
<table id="asset_table">
    <tr>
        <th>Name</th>
        <th>Symbol</th>
        <th>Current Price</th>
        <th>Show details</th>
    </tr>
    {% for asset in assets %}
        <tr>
            <td>{{ asset.name }}</td>
            <td>{{ asset.symbol }}</td>
            <td>{{ asset.current_price }}</td>
            <td><a href="/asset?symbol={{ asset.symbol }}">Show details</a></td>
        </tr>
    {% endfor %}
</table>
</div>
{% else %}
    <br> You must be logged in

{% endif %}


{% endblock %}